.hr-boldest {
  background-color: black;
  height: 10px;
}

.hr-bold {
  background-color: black;
  height: 5px;
}

.hr-light-bold {
  background-color: black;
  height: 2px;
}

.nf-main-container {
  width: 500px;
}

.flex {
  display: flex;
  justify-content: space-between;
}

.bold {
  font-weight: bold;
}
