* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.poster-img {
  height: 300px;
  padding-left: 50px;
}

.justify {
  width: 500px;
  text-align: justify;
}

.cast-img {
  height: 150px;
  width: 150px;
  object-fit: cover;
  object-position: center;
  border-radius: 5px;
  padding-left: 50px;
}

/* collapsible */
.wrapper {
  display: flex;
  padding-top: 50px;
  justify-content: center;
}

.collapsible {
  max-width: 450px;
  overflow: hidden;
  font-weight: 500;
}

.collapsible label {
  position: relative;
  font-weight: 600;
  display: block;
  margin-bottom: 10px;
  cursor: pointer;
  padding: 15px 0;
  border-radius: 4px;
}

.collapsible label:after {
  content: "";
  position: absolute;
  right: 15px;
  top: 20px;
  width: 18px;
  height: 18px;
  background: url(right-arrow.png) no-repeat 0 0;
}

.collapsible-text {
  max-height: 1px;
  overflow: hidden;
  border-radius: 4px;
  line-height: 1.4;
}

details {
  padding: 20px;
}

summary {
  font-size: 20px;
}
